@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    max-width: 768px;
    margin: auto;
    background-color: #F7F7F7;
}

button {
    background: none;
}

.title {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    font-style: italic;
}

/******************************
********** Keyframes **********
******************************/

@keyframes heart-pulse {
    0% {
        transform: scale(0.85);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.15);
        opacity: 1;
    }
    100% {
        transform: scale(1.00);
    }
}

/******************************
************ Reset ************
******************************/

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: 0;
}

/*********************************
************* Mobile *************
*********************************/

/************* Header ************/

header {
    position: relative;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/****** Section - Location ******/

.section-location {
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-location > button {
    display: flex;
    align-items: center;
    gap: 17px;
    color: #353535;
    font-size: 16px;
    font-weight: 500;
}

/****** Section - Introduction ******/

.section-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 39px 0 57px;
    text-align: center;
}

.section-introduction > h1 {
    margin-bottom: 22px;
    padding: 0 45px;
}

.section-introduction > p {
    font-weight: 300;
    font-size: 18px;
}

.section-introduction > a {
    margin-top: 27px;
    padding: 13px 19px;
    border-radius: 25px;
    background: linear-gradient(355deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    color: #FFFFFF;
}

/****** Section - Fonctionnement ******/

.section-functionality {
    padding: 48px 20px 68px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    background-color: #FFFFFF;
}

.section-functionality > ol {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style-type: none;
}

.section-functionality > ol > li {
    background-color: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    height: 72px;
    display: flex;
    align-items: center;
    gap: 23px;
    margin-left: 12px;
    transition: background 400ms;
}

.section-functionality > ol > li:hover {
    background-color: #F5EDFF;
}

.section-functionality > ol > li:hover i {
    color: #9356DC;
}

.section-functionality > ol > li::before {
    content: "1";
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    margin-left: -12px;
}

.section-functionality > ol > li:nth-child(2)::before {
    content: "2";
}

.section-functionality > ol > li:nth-child(3)::before {
    content: "3";
}

/****** Section - Restaurant ******/

.section-restaurant {
    padding: 54px 20px 64px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.menu-cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px; 
}

.menu-cards a:nth-child(1) .card::before,
.menu-cards a:nth-child(2) .card::before {
    content: "Nouveau";
    position: absolute;
    padding: 7px 9px;
    background-color: #99E2D0;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
    border-radius: 2px;
    color: #008766;
    font-size: 14px;
    font-weight: 500;
    right: 12px;
    top: 13px;
}

.card-image {
    object-fit: cover;
    object-position: 0% 61%;
    width: 100%;
    height: calc(251px - 77px);
    border-radius: 15px 15px 0 0;
}

.menu-info {
    color: #000000;
    padding: 16px 25px 16px 13px;
}

.heart-icon {
    position: absolute;
    right: 25px;
    bottom: 30px;
    height: 21px;
    background: none;
    transition: transform 400ms;
}

.heart-icon:focus i {
    font-weight: 600;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heart-pulse 400ms ease-in-out forwards;
}

.heart-icon > i {
    font-size: 21px;
    color: #101010;
    transition: background 400ms;
}

.menu-info > h3 {
    font-size: 18px;
}

.menu-info > p {
    font-size: 17px;
    font-weight: 300;
}

/************ Footer ************/

footer {
    background-color: #353535;
    padding: 22px 25px 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

footer > img {
    width: auto;
    height: 18px;
    filter: invert(100%) sepia(3%) saturate(16%) hue-rotate(154deg) brightness(104%) contrast(100%);
}

footer > ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

footer > ul > li > a {
    color: #FFFFFF;
    font-weight: 500;
}

footer > ul > li > a > i {
    width: 11px;
    height: 13px;
    margin-right: 18px;
}

/*********************************
************ Tablette ************
*********************************/



/**********************************
************* Desktop *************
**********************************/